<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/admin">ADMIN</a>
    <a href="/">Home</a>
    <% factList.forEach(fact => { %>
        <p><%= fact.title %></p>
        <p><%= fact.extra %></p>
        <p><%= fact.link %></p>
        <p><%= fact._id%></p>
        <a href="<%= fact.link %>">LEARN MORE</a>
    <%})%>
</body> 
</html>